#root {
  margin: 60px auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* ---------------------------------------------------------------- */
.autok-section{
  width: 70%; 
  margin-right: 20px;
}

.uj-auto-section{
  width: 25%;
  margin-left: 20px;
}

main{
  display: flex;
}


.autok{
  display: flex;
  flex-wrap: wrap;
}

.auto{
  width: 150px;
  border: 2px solid #646cffaa;
  margin: 30px;
  padding: 15px;
}

.uj-auto{
  width: 300px;
  margin-top: 60px;
  border: 2px solid #646cffaa;
  padding: 15px;
}

.uj-auto td{
  padding-bottom: 20px;
}

.first-td{
  padding-top: 20px;
}